@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: black;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.container {
  padding: 2.5rem 0px;
  margin: 0px auto;
}

.container .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container .row1 .heading h2 {
  margin: 0px;
}

.container .row1 .content {
  margin: 0px;
}

.container .row1 .content p {
  font-size: 0.8rem;
}

.container .row1 .content h5 {
  margin: 0px;
}

.container .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem 0px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.container .row2 .image span {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 300;
  font-size: 0.8rem;
}

.container .row2 .image h4 {
  margin: 0px;
}

.container .row2 .image2,
.container .row2 .image5 {
  padding-top: 6rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .row1 {
    text-align: center;
    padding: 0px;
  }
  .row1 .heading,
  .row1 .content {
    margin: 10px 0px;
  }
  .row2 {
    text-align: center;
    padding: 0px;
  }
  .row2 .image {
    padding: 1rem 0px !important;
  }
}
